/*nav ul a,
nav .brand-logo {
color: #444;
}*/
/*.button-collapse {
color: #1595E4;
}*/
header, main, footer {
    padding-left: 240px;
}

#page-load-progress {
    position: absolute;
    top: 50%;
    left: 55%;
}
#album-load-progress {
    position: absolute;
    left: 45%;
    top: 50%;
}
@media only screen and (max-width : 992px) {
    .side-nav.fixed {
        left: -105%;
    }
    .side-nav.fixed.right-aligned {
        right: -105%;
        left: auto;
    }
    header, main, footer {
        padding-left: initial;
    }
}
.albums-items {
    margin-top: 20px;
}
.item-image {
    height: 330px;
}
.card.large {
    height: initial;
}
.card.large .card-image {
    height: 300px;
}
.card-title {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;

}
.btn-fb-login {
    position: relative;
    left: 100%;
    top: -30px;
}
.btn-fb-like {
    position: absolute;
    right: 0px;
}
.card-photo .card-content {
    height: 62px;
}
